[submodule "quadruped-locomotion-rl"]
	path = quadruped-locomotion-rl
	url = git@github.com:illusoryTwin/quadruped-locomotion-rl.git
[submodule "quadruped-locomotion-deploy"]
	path = quadruped-locomotion-deploy
	url = git@github.com:illusoryTwin/quadruped-locomotion-deploy.git
